@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  height: 100%;
  /*margin: 0;
  padding: 0;
  color: rgb(var(--foreground-rgb));
   background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}

/* body {
  display: flex;
  flex-direction: column;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .active-link .text-underline {
    text-decoration: underline;
    font-weight: bold;
  }
}


/* Loading Animation CSS */

/* HTML: <div class="loader"></div> */
.loader {
  width: 15px;
  aspect-ratio: 1;
  position: relative;
  animation: l9-0 1.5s infinite steps(2);
  margin: auto;

}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: #000;
}
.loader::before {
  box-shadow: 26px 0;
  transform: translateX(-26px);
  animation: l9-1 .75s infinite linear alternate;
}
.loader::after {
  transform: translateX(13px) rotate(0deg) translateX(13px);
  animation: l9-2 .75s infinite linear alternate;
}
@keyframes l9-0 {
    0% ,49.9% {transform: scale(1)}
    50%,100%  {transform: scale(-1)}
}
@keyframes l9-1 {
    100%{box-shadow: 52px 0}
}
@keyframes l9-2 {
    100%{transform: translateX(13px) rotate(-180deg) translateX(13px)}
}

/* 404 Not Found */
@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}
.floating { animation: float 3s ease-in-out infinite; }

.line-break {
  white-space: pre-wrap;
  line-height: 1.5;
}